<div class="main actor-index">
      <div class="container">
        <div class="row">

          <!--
          To do: Loop through movies and display each one with this HTML
          -->
          <% @actors.each do |a| %>
          <div class="actor col-xs-2">
            <a href="<%= actor_path(a) %>"> <%= image_tag a.image %> </a>
            <h3> <%= a.first_name %> <%= a.last_name %> </h3>
            <p> <%= a.bio %> </p>
            
            
            <%= link_to 'Learn more', actor_path(a) %>
            
          </div>
          <% end %>
      </div>
</div>
