<div class="hero">
  <div class="container">
    <h2>Interstellar</h2>
    <p>Former NASA pilot Cooper (Matthew McConaughey) and a team of researchers travel across the galaxy to find out which of three planets could be mankind's new home.</p>
    <a href="#">Read More</a>
  </div>
</div>

<div class="main">
  <div class="container">
  <h2>Popular Films</h2>

    <!--
    To do: Loop through movies and display each one with this HTML
    -->
    <% @movies.each do |m| %>
    <div class="movie">
      <a href="<%= movie_path(m) %>"> <%= image_tag m.image %> </a>
      <h3> <%= m.title %> </h3>
      <p> <%= m.release_year %> </p>
      <%= link_to "Learn more", movie_path(m) %>
    </div>
    
    
    <% end %>
      
  </div>
</div>
