<div class="main movie-show">
  <div class="container">
    <div class="movie">
      
      <!-- Display the movie's info here -->
      <%= image_tag @movie.image %>
      <div class="info">
        <!-- movie image -->
        <h3 class="movie-title"> <%= @movie.title %> </h3>
        <p class="movie-release-year"> <%= @movie.release_year %> </p>
        <p class="movie-plot"> <%= @movie.plot %> </p>
      </div>
    </div>

    <h2>Cast</h2>
    <!-- Display each actor's info here -->
    <% @actors.each do |a| %>
    <div class="actor">
      <a href="<%= actor_path(a) %>"><%= image_tag a.image %></a>
      <h3 class="actor-name"> <%= a.first_name %> <%= a.last_name %> </h3>
      <p class="actor-bio"> <%= a.bio %> </p>
    </div>
    
    <% end %>

  </div>
</div>
